---
let direccion = 'Carrera 33 # 109a-20 villa ines, Floridablanca'
let celular = '316 627 9968'
let horario = 'Lun - Vie: 8:00 am - 6:00 pm'
---

<div class="bg-Rosado min-h-s h-14 w-full  items-center justify-center text-white px-8 hidden lg:flex">           
            <ul class="flex items-center  gap-6">
                <li class="flex items-center">
                 <svg class="icon icon-tabler icon-tabler-brand-whatsapp mr-1" width="22" height="22" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    
                    <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
                    <path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" />
                  </svg>
                    <a href="#" target="_blank">{celular}</a>
                </li>

            <li class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin mr-1" width="22" height="22" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                    <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
                </svg>
                <a href="#" target="_blank">{direccion}</a>
            </li>

            <li class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock mr-1" width="22" height="22" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                    <path d="M12 7v5l3 3" />
                  </svg>
                <a href="#" target="_blank">{horario}</a>
            </li>
        </ul>
    </div>

    <div class="h-18 w-full bg-white py-5 px-14 shadow-md sticky top-0 delay-0 flex items-center evenly">
        <img src="/public/logo-dark.png" alt="log" class="flex-none">
        <div>
            <ul class="flex space-x-4 ">
                <a href="#">Inicio</a>
                <a href="#">Inicio</a>
                <a href="#">Inicio</a>
                <a href="#">Inicio</a>
            </ul>
        </div>
    </div>
         


    
  
